
.head>i{
    width:0.35rem;
    height:0.35rem;
    padding:0.3rem;
    background: url('../../app/images/fanhui.png') no-repeat;
    background-size: 0.35rem 0.35rem;
    position: absolute;
    left:0.2rem;
    top:0.35rem;
}



.head {
    height: 1rem;
    width: 100%;
    position: relative;
    background: transparent;
    border-bottom: 2px solid #ddd;
}

.head > p {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .26rem;
    font-family: "PingFangSC-Medium";
    float: left;
    width: 100%;
}
.head span{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: .6rem;
    line-height: .6rem;
    font-size: .26rem;
    margin-right: .2rem;
    cursor: pointer;
}